<template>
  <el-container>
    <el-header>
      <h1>Books</h1>
    </el-header>
    <el-main>
      <el-form :inline="true">
        <el-form-item>
          <el-button
            type="primary"
            icon="el-icon-plus"
            @click="$router.push({ name: 'BooksForm', params: { id: 'add' } })"
          >
            Add
          </el-button>
        </el-form-item>
        <el-form-item label="Sort by">
          <el-select
            v-model="sortingKey"
            @input="clearViewLimit()"
          >
            <el-option
              v-for="sorting in sortingOptions"
              :key="sorting.fieldLabel"
              :label="sorting.title"
              :value="sorting.fieldLabel"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-radio-group
            v-model="sortingOrder"
            @input="clearViewLimit()"
          >
            <el-radio-button label="asc">Ascending</el-radio-button>
            <el-radio-button label="desc">Descending</el-radio-button>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <el-alert
        v-if="listHasLoadingError"
        title="An error occurred during books loading"
        type="error"
        effect="dark"
      />
      <div
        v-else-if="listIsLoading"
        v-loading="true"
      >
        <books-card
          :book="{}"
        />
      </div>
      <div
        v-else-if="list.length"
      >
        <books-card
          v-for="book in limitedList"
          :key="book.id"
          :book="book"
        />
      </div>
      <div v-else>
        Books list is empty
      </div>
    </el-main>
  </el-container>
</template>

<script>
  import { createNamespacedHelpers } from 'vuex'
  import BooksCard from './BooksCard'

  const { mapState, mapActions } = createNamespacedHelpers('books')

  const viewLimitOffset = 10

  export default {
    name: 'Books',
    components: { BooksCard },
    inject: ['onAppScroll'],
    data () {
      return {
        sortingKey: 'title',
        sortingOrder: 'asc',
        sortingOptions: [
          { fieldLabel: 'title', title: 'Title' },
          { fieldLabel: 'publicationYear', title: 'Publication year' }
        ],
        viewLimit: viewLimitOffset
      }
    },
    computed: {
      sortedList () {
        const key = this.sortingKey
        const comparer = (a, b) => {
          return (a[key] < b[key] ? -1 : a[key] > b[key] ? 1 : 0) *
            (this.sortingOrder === 'desc' ? -1 : 1)
        }
        return [...this.list].sort(comparer)
      },
      limitedList () {
        return this.sortedList.slice(0, this.viewLimit)
      },
      ...mapState(['list', 'listIsLoading', 'listHasLoadingError'])
    },
    watch: {
      limitedList (newList) {
        this.fetchListImageUrls(newList)
      }
    },
    created () {
      this.fetchList()
      this.offAppScroll = this.onAppScroll(() => {
        this.viewLimit += viewLimitOffset
      })
    },
    beforeDestroy () {
      this.offAppScroll()
    },
    methods: {
      clearViewLimit () {
        this.viewLimit = viewLimitOffset
      },
      ...mapActions(['fetchList', 'fetchListImageUrls'])
    }
  }
</script>
