<template>
  <el-card
    class="books-card"
  >
    <el-row :gutter="10">
      <el-col
        :xs="10"
        :sm="8"
        :md="8"
        :lg="7"
        :xl="6"
      >
        <div
          class="card-image-container"
          v-loading="book.imageIsLoading"
        >
          <el-image
            class="card-image"
            :src="book.imageUrl"
            fit="cover"
            alt="Book cover"
          >
            <div
              slot="error"
              class="el-image__error"
            >
              <i class="el-icon-picture-outline"></i>
            </div>
          </el-image>
        </div>
      </el-col>
      <el-col
        :xs="14"
        :sm="16"
        :md="16"
        :lg="17"
        :xl="18"
      >
        <div class="card-body">
          <h4>{{ book.title }}</h4>
          <div class="card-body-item">
            <span class="card-body-item-description">Author:</span>
            {{ book.authorName }} {{ book.authorSurname }}
          </div>
          <div class="card-body-item">
            <span class="card-body-item-description">Number of pages:</span>
            {{ book.pageCount }}
          </div>
          <div class="card-body-item">
            <span class="card-body-item-description">Publisher:</span>
            {{ book.publisher }}
          </div>
          <div class="card-body-item">
            <span class="card-body-item-description">Publication year:</span>
            {{ book.publicationYear }}
          </div>
          <div class="card-body-item">
            <span class="card-body-item-description">Release date:</span>
            {{ book.releaseDate }}
          </div>
          <el-button
            class="card-edit-button"
            type="primary"
            icon="el-icon-edit"
            @click="$router.push({ name: 'BooksForm', params: { id: book.id } })"
          >
            Edit
          </el-button>
          <el-button
            class="card-edit-button"
            type="danger"
            icon="el-icon-delete"
            @click="remove()"
          >
            Remove
          </el-button>
        </div>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
  import { createNamespacedHelpers } from 'vuex'

  const { mapActions } = createNamespacedHelpers('books')

  export default {
    name: 'BooksCard',
    props: {
      book: {
        type: Object,
        required: true
      }
    },
    methods: {
      remove () {
        return this.$confirm('This will permanently delete the book. Continue?', 'Warning', {
          confirmButtonText: 'Remove',
          confirmButtonClass: 'el-button--danger',
          cancelButtonText: 'Cancel',
          type: 'error'
        }).then(() => {
          return this.removeBook()
        }).catch(() => {})
      },
      ...mapActions(['removeBook'])
    }
  }
</script>

<style scoped lang="scss">
  .books-card {
    width: 100%;

    & + .books-card {
      margin-top: 10px;
    }
  }

  .card-image-container {
    text-align: center;
  }

  .card-image {
    width: 148px;
    height: 218px;
  }

  .card-body {
    height: 218px;
  }

  .card-body-item {
    margin-top: 4px;
  }

  .card-body-item-description {
    font-weight: bold;
  }

  .card-edit-button {
    margin-top: 10px;
  }
</style>
