<template>
  <el-upload
    drag
    accept="image/*"
    action=""
    :show-file-list="false"
    :file-list="fileList"
    :on-change="handleUploadChange"
    :before-upload="handleBeforeUpload"
  >
    <el-alert
      v-if="error"
      title="An error occurred during books loading"
      type="error"
      effect="dark"
    />
    <div
      v-if="imageUrl"
      class="image-container"
    >
      <el-image
        class="image"
        :src="imageUrl"
        fit="contain"
      >
        <div
          slot="error"
          class="el-image__error"
        >
          <i class="el-icon-picture-outline"></i>
        </div>
      </el-image>
      <span class="actions">
        <span
          class="action-delete"
          @click.stop="$emit('remove')"
        >
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div>
    <div v-else>
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
    </div>
  </el-upload>
</template>

<script>
  export default {
    name: 'MyImageUpload',
    props: {
      imageUrl: {
        type: String
      }
    },
    data () {
      return {
        error: undefined,
        fileList: []
      }
    },
    methods: {
      handleUploadChange (file, fileList) {
        this.fileList = fileList.slice(-1)
      },
      handleBeforeUpload (file) {
        const isImage = file.type.startsWith('image/')
        const sizeIsFine = file.size / 1024 < 500

        if (!isImage) {
          this.$message.error('File is not an image')
        }
        if (!sizeIsFine) {
          this.$message.error('Image size can not exceed 500kb')
        }
        if (isImage && sizeIsFine) {
          this.$emit('upload', file)
        }
        return false
      }
    }
  }
</script>

<style scoped lang="scss">
  .image-container {
    height: 100%;
  }

  .image {
    height: 100%;
  }

  .actions {
    position: absolute;
    right: 0;
    top: 0;

    .action-delete {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    .el-icon-delete {
      display: block;
    }
  }
</style>
